@reference "tailwindcss";

.section-operationsR{
    @apply bg-white  text-center  font-[poppins] overflow-hidden
}

.titulo-operationsR{
    @apply text-[#032E42] text-[55px] font-bold tracking-wider
}