@reference "tailwindcss";

@media (min-width: 0px) and (max-width: 500px){

.section-costsR {
    @apply space-y-8 md:mx-auto md:w-3/4 px-4  font-[poppins] h-[1400px]
}

.titulo-costsR {
    @apply text-center text-[#006a7a] text-[50px] font-bold 
}

.desc-costsR {
    @apply text-center text-[#022641]
}

.color-text-costsR {
    @apply text-[#088054] font-bold
}

.contenedor-carrusel-costsR {
    @apply w-full h-[80%] 
   
}

.boton-carrusel-costsR {
    @apply bg-[#8FCB80] flex gap-2 h-[50px] z-200
    rounded-none py-0 text-center justify-center items-center uppercase text-white 
    lg:text-lg 2xl:text-xl w-3/4 md:w-1/3 xl:w-56 font-semibold tracking-widest
}
}

@media (min-width: 501px) and (max-width: 1024px){

.section-costsR {
    @apply space-y-8 md:mx-auto md:w-3/4 px-4 sm:px-8 md:px-12 
    lg:px-16 xl:px-20 2xl:px-24 py-2 sm:py-4 md:py-6 lg:py-8 xl:py-10 
    2xl:py-12 font-[poppins] h-[1200px]
}

.titulo-costsR {
    @apply text-center text-[#006a7a] text-[50px] font-bold 
}

.desc-costsR {
    @apply text-center text-[#022641]
}

.color-text-costsR {
    @apply text-[#088054] font-bold
}

.contenedor-carrusel-costsR {
    @apply w-full h-[80%] 
   
}

.boton-carrusel-costsR {
    @apply bg-[#8FCB80] flex gap-2 h-[50px] z-200
    rounded-none py-0 text-center justify-center items-center uppercase text-white 
    lg:text-lg 2xl:text-xl w-3/4 md:w-1/3 xl:w-56 font-semibold tracking-widest
}
}

@media (min-width: 1025px) and (max-width: 1500px){

.section-costsR {
    @apply space-y-8 md:mx-auto md:w-3/4 px-4 sm:px-8 md:px-12 
    lg:px-16 xl:px-20 2xl:px-24 py-2 sm:py-4 md:py-6 lg:py-8 xl:py-10 
    2xl:py-12 font-[poppins] h-[1200px]
}

.titulo-costsR {
    @apply text-center text-[#006a7a] text-[50px] font-bold 
}

.desc-costsR {
    @apply text-center text-[#022641]
}

.color-text-costsR {
    @apply text-[#088054] font-bold
}

.contenedor-carrusel-costsR {
    @apply w-full h-[80%] 
   
}

.boton-carrusel-costsR {
    @apply bg-[#8FCB80] flex gap-2 h-[50px] z-200
    rounded-none py-0 text-center justify-center items-center uppercase text-white 
    lg:text-lg 2xl:text-xl w-3/4 md:w-1/3 xl:w-56 font-semibold tracking-widest
}
}

@media (min-width: 1501px) and (max-width: 2000px){

.section-costsR {
    @apply space-y-8 md:mx-auto md:w-3/4 px-4 sm:px-8 md:px-12 
    lg:px-16 xl:px-20 2xl:px-24 py-2 sm:py-4 md:py-6 lg:py-8 xl:py-10 
    2xl:py-12 font-[poppins] h-[1200px]
}

.titulo-costsR {
    @apply text-center text-[#006a7a] text-[50px] font-bold 
}

.desc-costsR {
    @apply text-center text-[#022641]
}

.color-text-costsR {
    @apply text-[#088054] font-bold
}

.contenedor-carrusel-costsR {
    @apply w-full h-[80%] 
   
}

.boton-carrusel-costsR {
    @apply bg-[#8FCB80] flex gap-2 h-[50px] z-200
    rounded-none py-0 text-center justify-center items-center uppercase text-white 
    lg:text-lg 2xl:text-xl w-3/4 md:w-1/3 xl:w-56 font-semibold tracking-widest
}
}
@media (min-width: 2000px) {

.section-costsR {
    @apply space-y-8 md:mx-auto md:w-3/4 px-4 sm:px-8 md:px-12 
    lg:px-16 xl:px-20 2xl:px-24 py-2 sm:py-4 md:py-6 lg:py-8 xl:py-10 
    2xl:py-12 font-[poppins] h-[1200px]
}

.titulo-costsR {
    @apply text-center text-[#006a7a] text-[50px] font-bold 
}

.desc-costsR {
    @apply text-center text-[#022641]
}

.color-text-costsR {
    @apply text-[#088054] font-bold
}

.contenedor-carrusel-costsR {
    @apply w-full h-[80%] 
   
}

.boton-carrusel-costsR {
    @apply bg-[#8FCB80] flex gap-2 h-[50px] z-200
    rounded-none py-0 text-center justify-center items-center uppercase text-white 
    lg:text-lg 2xl:text-xl w-3/4 md:w-1/3 xl:w-56 font-semibold tracking-widest
}
}



