@reference "tailwindcss";

/* #region NAVBAR */
.img-planeta{
    @apply  absolute right-[10%] scale-[140%] top-[15%]
}
.navbar{
    @apply flex items-center justify-around drop-shadow-[0_1px_6px_rgba(0,0,0,0.35)]
     absolute w-full py-3 px-[5%] z-50 bg-white/0
}
.logo-navbar{
    @apply flex items-start gap-[10px] transition-all duration-700
}
.img-navbar{
    @apply h-10  w-auto select-none
}
.contenedor-links-navbar{
    @apply  flex items-center gap-[50px] transition-all duration-700 
}

.link-navbar{
    @apply relative text-white/90 hover:text-[#0C7753]  text-[18px] font-light transition-colors
    
}
.botton-login{
    @apply text-white border-white border-2 rounded-[20px] py-1 px-5 
}

/* #endregion */
/* #region PANEL */
.contenedor-panle-navbar{
    @apply fixed inset-y-0 right-0 z-50 w-2/4 max-w-sm bg-[#023042]/90 p-6 px-10 shadow-xl
}

.panel-navbar{
    @apply flex items-center justify-end
}

.icon-xmark-navbar{
    @apply h-10 w-10 text-white
}

.contenedor-links-panel-navbar{
    @apply mt-16 flex flex-col items-end space-y-4
}

.link-panel-navbar{
    @apply text-[20px] font-light text-white
}
/* #endregion */