@reference "tailwindcss";
/* #region ANIMACION */
.contenedor-entrada{
    @apply opacity-100 translate-y-0
}

.contenedor-salida{
    @apply opacity-0 translate-y-3
}
/* #endregion */

/* #region CONTENEDOR */
.transform-body{
    @apply transition-all duration-700 will-change-transform
}
.section-body{
    @apply bg-white text-gray-800 font-[poppins]
}

.contenedor-fila-body{
    @apply grid  items-start gap-8 px-2
}
/* #endregion */

/* #region CAPSULA */
.titulo-texto-body{
    @apply text-[20px] font-extrabold text-[#006a7a]
}
.acomodo-titulo-texto-body{
    @apply mt-4 leading-relaxed text-justify
}

.strong-text-color-body{
    @apply font-extrabold text-[#006a7a]
}

.fondo-capsula-body{
    @apply absolute inset-0  transition-all duration-700
    bg-gradient-to-br from-[#0d8351]  via-[#032c41]/90 to-[#0b734e] 
    rounded-[80px]
}

.contenedor-capsula-body{
    @apply relative h-[230px] mt-5
}

.img-capsula-body-1{
    @apply translate-x-[20px] translate-y-[-5%] scale-[120%]
    object-contain md:object-right  select-none;
     
}

.img-capsula-body-2{
    @apply translate-x-[40px] translate-y-[-3%] scale-[120%] 
    object-contain object-left md:object-center select-none
}
/* #endregion */

@media (min-width: 500px) {
    /* #region CONTENEDOR */
.transform-body{
    @apply transition-all duration-700 will-change-transform
}
.section-body{
    @apply bg-white text-gray-800 font-[poppins]
}

.contenedor-fila-body{
    @apply grid  items-start gap-8 px-2 grid-cols-2
}
/* #endregion */

/* #region CAPSULA */
.titulo-texto-body{
    @apply text-[20px] font-extrabold text-[#006a7a]
}
.acomodo-titulo-texto-body{
    @apply mt-4 leading-relaxed text-justify
}

.strong-text-color-body{
    @apply font-extrabold text-[#006a7a]
}

.fondo-capsula-body{
    @apply absolute inset-0  transition-all duration-700
    bg-gradient-to-br from-[#0d8351]  via-[#032c41]/90 to-[#0b734e] 
    rounded-[80px]
}

.contenedor-capsula-body{
    @apply relative h-[230px] mt-1
}

.img-capsula-body-1{
    @apply translate-x-[-15%] translate-y-[-5%] scale-[120%]
}

.img-capsula-body-2{
    @apply translate-x-[-5%] translate-y-[-3%] scale-[120%]
}
/* #endregion */

}
@media (min-width: 1024px) {

/* #region CONTENEDOR */
.transform-body{
    @apply transition-all duration-700 will-change-transform
}
.section-body{
    @apply bg-white text-gray-800 font-[poppins]
}

.contenedor-fila-body{
    @apply grid items-start grid-cols-2 gap-12
}
/* #endregion */

/* #region CAPSULA */
.titulo-texto-body{
    @apply text-[25px] font-extrabold text-[#006a7a]
}
.acomodo-titulo-texto-body{
    @apply mt-4 leading-relaxed text-[17px]
}

.strong-text-color-body{
    @apply font-extrabold text-[#006a7a]
}

.fondo-capsula-body{
    @apply absolute inset-0  transition-all duration-700
    bg-gradient-to-br from-[#0d8351]  via-[#032c41]/90 to-[#0b734e] 
    rounded-[80px]
}

.contenedor-capsula-body{
    @apply relative h-[265px]
}

.img-capsula-body-1{
    @apply translate-x-[-15%] translate-y-[-5%] scale-[120%]
}

.img-capsula-body-2{
    @apply translate-x-[10%] translate-y-[-3%] scale-[120%]
}
/* #endregion */
}
